* {
    /*ColoresPredeterminado*/
    /*------------------------------*/
    /*ColoresPrincipales*/
    --colorPrimario: #17bebb;
    --colorSecundario: #cd5334;
    /*------------------------------*/
    /*ColorBlancoaNegroyDegrades*/
    --colorBlanco: #f5f0f6;
    --colorGris: #e1dee3;
    --colorNegro: #2e282a;
    --colorBlancoForm: #DADADA;
    --colorGrisProgressBarBack: #B0B0B0;
    --colorNegroDegrade1: #211c1e;
    --colorNegroDegrade2: #211e20;
    --colorDegradeNaranja: #41393c;
    --colorDegradeBlanco: rgba(225, 225, 225, 0.5);
    /*------------------------------*/
    /*ColoresdeLetras*/
    --colorLetraBlanca: var(--colorBlanco);
    --colorLetraOscura: var(--colorNegro);
    --colorLetraNegra: #000;
    --colorFondoCelesteOscuro: #159492;
    /*------------------------------*/
    /*Detalles*/
    --sombra: -0.5rem 0.3rem 0.2rem rgba(0, 0, 0, 0.25);
    --sombraInterior: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
    --anim: all 0.3s ease-out;
    --colorCerrarCuadro: #e61919;
    /*------------------------------*/
    /*Configuraciones Globales*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    color: var(--colorLetraNegra);
    border: 3px solid black;
    
}

.contenedor{
    width: 80%;
}

img{
    width: 50%;
}

.container{
    margin: 50px;
    padding: 50px;
}

.elemento {
    width: 95%;
    background: var(--colorDegradeBlanco);
    border-radius: 0 1.5rem 0 1.5rem;
    display: flex;
    margin: 0.3rem;
    padding: 0.5rem;
    flex-wrap: wrap;
}

.elemento-proyecto>h6 {
    font-size: 0.75rem;
    font-weight: 400;
    margin: 0;
    text-align: center;
}

.elemento-proyecto {
    background-color: #bf5035;
    padding: 0.3rem;
    box-shadow: var(--sombra);
    margin: 0.3rem;
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.elemento-proyecto:hover {
    background-color: var(--colorNegro);
    cursor: pointer;
    transition: var(--anim);
}

.logo-work {
    width: 5rem;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8rem;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem 0 0.5rem;
}

.info>h5 {
    font-size: 0.8rem;
    color: var(--colorLetraNegra);
    margin: 0;
    font-weight: 400;
}

.info>span {
    font-size: 0.6rem;
    color: var(--colorLetraNegra);
    margin: 0;
    font-weight: 300;
}

.splide__arrow--prev {
    left: -2em;
}


@media (max-width:1130px){
    .elemento{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}